# Python compilados y cache
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.env

# Datos (NUNCA subir datos reales de clientes/pedidos)
*.csv
*.xlsx
data/inputs/*
data/outputs/*

# Logs y Archivos del Sistema
*.log
.DS_Store

# Gráficas generadas
*.png
*.jpg

# IDEs
.idea/
.vscode/
